/* font-families */
/* font-family: 'Cardo', serif;
font-family: 'Montserrat', sans-serif; */

/* CSS RESET */
* {
    margin: 0px;
    padding: 0px;
}


/* nav section */
.logo {
    font-size: 50px;
    font-family: 'Cardo', serif;
}


/* Home section */
#home {
    padding: 5% 15%;
    color: rgb(255, 255, 255);
}

.background_image {
    background-image: url("../Images/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

