/* font-families */
/* font-family: 'Cardo', serif;
font-family: 'Montserrat', sans-serif; */

/* CSS RESET */
* {
    margin: 0px;
    padding: 0px;
}


/* nav section */
.logo {
    font-size: 50px;
    font-family: 'Cardo', serif;
}


/* Home section */
#home {
    padding: 5% 15%;
    color: rgb(34, 25, 25);
}

/* home background image */
#home::before {
    content: "";
    position: absolute;
    background: ("../Images/home-bg.jpg") no-repeat center center/cover;
    height: 80%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
}

